.page {
  box-sizing: border-box;
  height: 100%;
  text-align: center;
}

body {
  min-width: 1200px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #151C22;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: inline-block;
  padding: 27px 24px;
  background-color: #151C22;
  font-weight: bold;
  font-size: 16px;
  line-height: 10px;
  color: #FFFFFF;
}

.button-wide {
  padding: 27px 45px;
}

.bestsellers {
  padding-top: 130px;
}

.bestsellers__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 70px;
}

.bestsellers__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2px;
}

.bestsellers__item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.bestsellers__item:last-child {
  margin-right: 0;
}

.bestsellers__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bestsellers__photo {
  order: -1;
  margin-bottom: 25px;
}

.bestsellers__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.bestsellers__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.card {
  margin-top: 54px;
  margin-bottom: 56px;
  background: linear-gradient(to right, #ffffff 50%, #f1f2f4 50%);
}

.card__inner {
  display: flex;
}

.card__pictures-col {
  display: flex;
  min-width: 600px;
  background-color: #FFFFFF;
  margin-left: -15px;
  padding-left: 15px;
}

.card__text-col {
  padding: 70px 140px 70px 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.card__text-col h2 {
  line-height: 21px;
}

.card__previous {
  margin-right: 60px;
  width: 15px;
  height: 15px;
  margin-top: 194px;
  background: none;
  border: none;
  border-left: 2px solid #151C22;
  border-bottom: 2px solid #151C22;
  transform: rotate(45deg);
}

.card__next {
  width: 15px;
  height: 15px;
  margin-top: 194px;
  background: none;
  border: none;
  border-right: 2px solid #151C22;
  border-bottom: 2px solid #151C22;
  transform: rotate(-45deg);
}

.card__pictures-inner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  margin-right: 60px;
}

.card__main-picture {
  margin-bottom: 20px;
}

.card__previews-list {
  display: flex;
  margin-right: -20px;
}

.card__previews-item {
  margin-right: 20px;
}

.card__main-header {
  margin-bottom: 40px;
}

.card__description {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 50px;
}

.card__order legend {
  margin-bottom: 25px;
  line-height: 13px;
}

.card__order fieldset {
  margin-bottom: 40px;
}

.card__order span {
  line-height: 13px;
  display: inline-block;
}

.card__color-picker {
  border: none;
}

.card__color-picker-inputs {
  display: flex;
}

.card__size-picker-inputs {
  display: flex;
}

.card__color-picker label {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 30px;
  border-radius: 50%;
}

.card__size-picker label {
  margin-right: 20px;
}

.card__size-picker label:not(:nth-child(2)) {
  color: #727A82;
}

.card__color-picker label:nth-child(1) {
  background-color: #B0C3C7;
}

.card__color-picker label:nth-child(2) {
  background-color: #3B6392;
}

.card__color-picker label:nth-child(3) {
  background-color: #BFC3C8;
;
}

.card__size-picker {
  border: none;
}

.card__price {
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 13px;
}

.categories {
  padding-top: 109px;
  padding-bottom: 130px;
}

.categories__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.categories__title {
  font-size: 18px;
  font-weight: 500;
}

.categories__item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  order: 2;
}

.categories__list {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.categories__item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.categories__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categories__photo {
  margin-bottom: 25px;
}

.catalogue {
  padding-bottom: 130px;
}

.catalogue__header {
  background-color: #F1F2F4;
}

.catalogue__header-inner {
  display: flex;
}

.catalogue__header-text-col {
  width: 571px;
  padding: 73px 57px 43px 200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalogue__main-title-text {
  line-height: 22px;
  display: block;
}

.catalogue__main-title-subtext {
  line-height: 58px;
  display: block;
}

.catalogue__breadcrumbs-list {
  display: flex;
  order: -1;
  margin-bottom: 39px;
}

.catalogue__breadcrumbs-item {
  margin-right: 10px;
}

.catalogue__breadcrumbs-item:not(:first-child)::before {
  content: "/";
  color: #727A82;
}

.catalogue__header-picture-col {
  width: 599px;
  display: flex;
  position: relative;
  padding-left: 30px;
}

.catalogue__header-picture {
  z-index: 3;
}

.catalogue__header-picture-col::before {
  content: "";
  position: absolute;
  width: 178px;
  height: 135px;
  left: 0;
  bottom: 0;
  background-size: cover;
  background: url("img/catalogue-diagonal-small.png");
}

.catalogue__header-picture-col::after {
  content: "";
  position: absolute;
  width: 232px;
  height: 176px;
  top: 0;
  left: 127px;
  background: url("img/catalogue-diagonal-big.png");
}

.catalogue__breadcrumbs-item {
  font-weight: 500;
  color: #727A82;
}

.catalogue__breadcrumbs-item:last-child {
  color: #151C22;
}

.catalogue__main-inner {
  padding-top: 39px;
}

.catalogue__select-container {
  display: flex;
  justify-content: flex-end;
}

.catalogue__filter-select {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151C22;
  width: 243px;
  padding: 18px;
  border: 2px solid #151C22;
  margin-bottom: 40px;
}

.catalogue__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -66px;
  padding-bottom: 17px;
}

.catalogue__item {
  margin-right: 66px;
  margin-bottom: 66px;
}

.catalogue__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalogue__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 15px;
}

.catalogue__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.catalogue__photo {
  order: -1;
  margin-bottom: 25px;
}

.catalogue__slider-caption {
  line-height: 13px;
  margin-bottom: 50px;
}

.main-footer {
  background-color: #151C22;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__logo {
  margin-bottom: 35px;
}

.main-footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 506px;
  justify-content: center;
  align-items: baseline;
  margin-right: -35px;
  margin-bottom: 37px;
}

.main-footer__nav-item {
  color: #FFFFFF;
  margin-right: 35px;
}

.main-footer__socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -29px;
}

.main-footer__socials-item {
  margin-right: 29px;
}

.main-footer__socials-item:first-child {
  margin-right: 34px;
}

.news {
  padding-top: 130px;
}

.news__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.news__inner-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin-bottom: 27px;
}

.news__date {
  margin-bottom: 13px;
}

.news__inner-cols {
  padding-top: 71px;
  display: flex;
}

.news__inner-img-col {
  width: 700px;
  padding-bottom: 92px;
}

.news__inner-text-col {
  position: relative;
  width: 470px;
  padding: 31px 70px 34px 0;
}

.news__inner-text-col::before {
  content: "";
  position: absolute;
  width: 470px;
  height: 462px;
  top: 0;
  left: 0;
  background: url("img/diagonal-big.png");
}

.news__inner-text {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 52px 0 28px 43px;
  background-color: #F1F2F4;
}

.news__main-text {
  font-weight: normal;
  color: #727A82;
  text-align: left;
  margin-bottom: 24px;
}

.main-navigation {
  display: flex;
  align-items: baseline;
  padding-top: 24px;
  padding-bottom: 25px;
}

.promo {
  background-color: #F1F2F4;
}

.promo__inner {
  display: flex;
}

.promo__inner-text-col {
  width: 520px;
  padding-top: 192px;
  padding-left: 165px;
  padding-bottom: 169px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.promo__inner-picture-col {
  position: relative;
  display: flex;
  width: 530px;
  padding: 50px;
}

.promo__inner-picture-col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 232px;
  height: 176px;
  background: url("img/diagonal.png");
  background-size: cover;
}

.promo__inner-picture-col::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 232px;
  height: 176px;
  background: url("img/diagonal.png");
  background-size: cover;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.promo__picture {
  z-index: 3;
}

.promo__main-word {
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 128px;
  line-height: 104px;
  margin-bottom: 50px;
}

.promo__slogan {
  color: #727A82;
  margin-bottom: 25px;
}

.similar {
  padding-top: 74px;
  padding-bottom: 130px;
}

.similar__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 70px;
}

.similar__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.similar__item {
  margin-right: 30px;
}

.similar__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.similar__card img{
  order: -1;
  margin-bottom: 25px;
}

.similar__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.similar__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.site-logo {
  margin: 0 auto;
  padding-top: 1px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  padding-top: 8px;
}

.site-navigation__item {
  margin-right: 35px;
}

.section-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 400px;
}

.user-navigation__item {
  margin-left: 35px;
}

.view-all {
  font-weight: 500;
  padding: 7px 5px;
  border-bottom: 2px solid #151C22;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
